*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container{
    height: 500px;
    width: 60%;
    margin-top: 100px;
    margin: auto;
    position: relative;
    overflow:hidden;
}

.silde{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 2s;
}

